.about-me-container {
  display: inline-block;
  height: 100%;
  padding: 0 50px 100px 50px;
  -webkit-animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  margin-left: auto;
  margin-right: auto;
  color: #333;
  font-family: 'Andale mono';
}

.website-background-image {
  text-align: center;
  position: relative;
  background-image: url('/images/hubspot.jpeg');
  height: 500px;
  background-position-x: center;
  background-position-y: -110px;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  width: 100%;
  margin-bottom: 10px;
  display:inline-block;
}

.about {
  text-align: center;
  width: 100%;
}

.about .title-block {
  width: 100%;
  display: inline-block;
  margin: 8px 0;
}

.about .title-block .text {
  font-size: 27px;
  padding: 8px;
  letter-spacing: -2px;
  opacity: .90;
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: 0 88%;
  transition: background-size 0.25s ease-in;
}

.about .description-block {
  display: inline-block;
  width: 100%;
  margin-top: 10px;
  text-align: center;
  padding: 0 25%;
  box-sizing: border-box;
}