.image-card {
  display: inline-block;
  height: auto;
  flex-basis: 50%;
  padding: 0 8px;
  margin-bottom: 10px;
  position: relative;
  -webkit-animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  box-sizing: border-box;
}

.image-card:hover {
  cursor: pointer;
}

.image-card:hover .image-card-description {
  height: 55%;
}

.image-card-image {
  background-size: cover;
  background-position:center center;
  background-repeat:no-repeat;
  height: 400px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  -webkit-animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.image-card-image.bordered {
  border: 5px solid #333;
}

.image-card-description {
  color: white;
  display: inline-block;
  padding: 0 16px;
  background-color: #333;
  color: white;
  white-space: nowrap;
  overflow: hidden;
  transition: height 0.75s ease;
  text-align: center;
  height: 40px;
}

.image-card-description:hover {
  height: 55%;
}

.image-card .image-card-image .title {
  color: #dee4e7;
  font-weight: bold;
  font-size: 20px;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 5px;
  box-sizing: border-box;
  text-overflow: ellipsis;
  overflow: hidden;
  background-position: 0 115%;
}

.image-card .description {
  color: #dee4e7;
  white-space: normal;
  padding: 15px;
  box-sizing: border-box;
  font-weight: 200;
  font-size: 16px;
}
