.website-header {
  width: 100%;
  text-align: center;
}

.website-header .name {
  width: inherit;
  display: inline-block;
  font-size: 27px;
  color: #333;
  font-family: 'Andale mono';
  letter-spacing: 3px;
  cursor: pointer;
  margin-top: 35px;
}

.website-header .subtext {
  width: inherit;
  display: inline-block;
  font-size: 15px;
  color: #333;
  font-family: 'Andale mono';
  letter-spacing: 3px;
  cursor: pointer;
}

/* Mobile Sizing */
@media only screen and (max-width: 375px) {
  .website-header {
    font-size: 45px;
  }
}